.container{
    margin-top: 50px;
}

.weather-app-wrapper{
border-style:solid;
border-radius: 20px;
border-width: 1px;
border-color: blueviolet;
padding: 20px;
}

h1{
    font-size: 10px;}

    ul{
        font-size: 10px;
        list-style: none }

        .DailyTemperatures{
            font-size: 10px;
        }
.CreditPage{
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
}