body{
    background: linear-gradient(109.6deg, rgb(177, 173, 219) 11.2%, rgb(245, 226, 226) 91.1%);
}
.container{
    margin-top: 130px;
    margin-bottom: 50px;
}

.weather-app-wrapper{
border-style:solid;
border-radius: 20px;
border-width: 1px;
border-color: blueviolet;
background-color: wheat;
padding: 20px;
margin-left: 200px;
margin-right: 200px;
}

h1{
    font-size: 10px;}

    ul{
        font-size: 10px;
        list-style: none }

        .DailyTemperatures{
            font-size: 10px;
            padding: 10px;
        }
.CreditPage{
    margin-top: 30px;
    text-align: center;
    font-size: 10px;
}